{% extends "base.html" %}
{% load static %}

{% block head %}
      <title>{{ title }}</title>
      <link rel="stylesheet" href="{% static 'emailapp/css/addmail.css' %}">
      <script src="{% static 'emailapp/js/errors.js' %}" defer></script>
{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <main>
        <form action="{% url 'emailapp:mailadd' %}" method="post">
            {% csrf_token %}
            <h3>Authorize Mail</h3>

            <label for="id_email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" id="id_email" required>

            <label for="id_password" class="form-label">Password</label>
            <input type="password" placeholder="Password" name="password" id="id_password" required>

            <button type="submit" class="button-enter">Log In</button>
        </form>
    </main>
{% endblock %}