{% extends "base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
    <section>
        <div class="mailsBlock">
            <div class="blockMessages">
                <div class="headBlock">
                    <div class="selectMail">
                        <label for="mailSelect"></label>
                        <select id="mailSelect">
                            <option value="1">xzxbtl@mail.ru</option>
                            <option value="2">idkgerws@gmail.com</option>
                            <option value="3">testuser@yandex.ru</option>
                        </select>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 50%;">Загрузка писем...</div>
                    </div>
                    <div class="addMails">
                        <a href="#" class="addEmailButton">Добавить</a>
                    </div>
                </div>
                <div class="line"></div>
                <div class="mainBlock">

                    <div class="messages">
                        <a href="#">
                            <h2 class="nameMessage">Subject: Welcome to Our Newsletter!</h2>
                        </a>
                            <p class="descriptionMessage">Переночевав в гостинице в Гуаякиле, мы сели к агенту в машину и поехали на судно в Пуэрто Боливар. Доехали вопреки ожиданиям быстро, примерно за 3-4 часа. Погода была пасмурная и даже не смотря на то, что мы находимся недалеко от экватора, было прохладно. Почти все время, пока мы ехали, по обе стороны дороги были банановые плантации, но все равно в голове не укладывается: эти бананы грузят на суда в нескольких портах Эквадора десятками тысяч тонн каждый день, круглый год. Это ж несчастные бананы должны расти быстрее чем грибы.</p>
                            <div class="message-footer">
                                <p class="dateSendMessage">01.06.2024</p>
                                <h3 class="idMessage">ID: 1</h3>
                            </div>
                    </div>

                    <div class="messages">
                        <a href="#">
                            <h2 class="nameMessage">Subject: Your Order Confirmation</h2>
                        </a>
                            <p class="descriptionMessage">Переночевав в гостинице в Гуаякиле, мы сели к агенту в машину и поехали на судно в Пуэрто Боливар. Доехали вопреки ожиданиям быстро, примерно за 3-4 часа. Погода была пасмурная и даже не смотря на то, что мы находимся недалеко от экватора, было прохладно. Почти все время, пока мы ехали, по обе стороны дороги были банановые плантации, но все равно в голове не укладывается: эти бананы грузят на суда в нескольких портах Эквадора десятками тысяч тонн каждый день, круглый год. Это ж несчастные бананы должны расти быстрее чем грибы.</p>
                            <div class="message-footer">
                                <p class="dateSendMessage">01.06.2024</p>
                                <h3 class="idMessage">ID: 2</h3>
                            </div>
                    </div>

                    <div class="messages">
                        <a href="#">
                            <h2 class="nameMessage">Subject: Your Password Reset Link</h2>
                        </a>
                        <p class="descriptionMessage">Переночевав в гостинице в Гуаякиле, мы сели к агенту в машину и поехали на судно в Пуэрто Боливар. Доехали вопреки ожиданиям быстро, примерно за 3-4 часа. Погода была пасмурная и даже не смотря на то, что мы находимся недалеко от экватора, было прохладно. Почти все время, пока мы ехали, по обе стороны дороги были банановые плантации, но все равно в голове не укладывается: эти бананы грузят на суда в нескольких портах Эквадора десятками тысяч тонн каждый день, круглый год. Это ж несчастные бананы должны расти быстрее чем грибы.<a href="#">Reset link</a></p>
                        <div class="message-footer">
                            <p class="dateSendMessage">01.06.2024</p>
                            <h3 class="idMessage">ID: 3</h3>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <button class="pagination-button prev disabled">Назад</button>
                    <button class="pagination-button active">1</button>
                    <button class="pagination-button">2</button>
                    <button class="pagination-button">3</button>
                    <button class="pagination-button next">Вперед</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
